
.header>nav>h1{
    padding: 60px 0 10px 0;
    font-size: 60px;
    color: #8d817b;
    text-align: center;
}

nav ul li{
    margin: 0 28px;
    /* 行内块元素 */
    display: inline-block;
}

nav ul{
    margin: 10px 0 40px 0;
    text-align: center;
}

nav ul li a{
    font-size: 1em;
    /* 默认字号倍数 */
    font-weight: 100%;
    color: #333;
}
nav ul li a:hover,nav ul li a:active{
    color: #ac9374;
}

.mission{
    width: 120%;
    height: 450px;
    position:relative;
    margin: 5px auto;
} 

.container{
    display: inline-block;
    position: absolute;
    margin: 5px auto;
    left: 20%;
    font-size: 51px;
}

.container-box{
    width: 150px;
    height: 120px;
    margin: 2px auto;
    background-color: #ac9374;
    text-align: center;
    line-height: 58px;
}

.container-box a:hover,.container-box a:active,a:link{
    color: #fff;
}
.container1{
    position:absolute;
    width: 40%;
    height: 100%;
    right: 25%;

}

.container-box a{
    color: #333;
}

.footer{
    width: 100%;
    position:absolute;
}
.return {
    width: 100%;
    height: 100px;
}

.footer .return .wenzi{
    font-size: 1.0em;
    display:block;
    position: absolute;
    left: 40%;
}

.footer .return .wenzi a{
    color: #333;
}

.footer .return .wenzi a:hover,.footer .return .wenzi a:active{
    color: #ac9374;
}


.footer .return img{
   position: absolute;
   right: 20%;
}
.header>nav>h1{
    padding: 33px 0 10px 0;
    font-size: 2em;
    color: #8d817b;
    text-align: center;
}

nav ul li{
    margin: 0 28px;
    /* 行内块元素 */
    display: inline-block;
}

nav ul{
    margin: 10px 0 40px 0;
    text-align: center;
}

nav ul li a{
    font-size: 1em;
    /* 默认字号倍数 */
    font-weight: 100%;
    color: #333;
}
nav ul li a:hover,nav ul li a:active{
    color: #ac9374;
}

.mission{
    width: 100%;
    height: 600px;
    position: relative;
    margin: 80px auto;
} 

.container{
    display: inline-block;
    position: absolute;
    left: 20%;
    font-size: 1.25em;
}

.container-box{
    width: 150px;
    height: 40px;
    margin: 2px auto;
    background-color: #ac9374;
    text-align: center;
    line-height: 38px;
}



.container-box a:hover,.container-box a:active,a:link{
    color: #fff;
}
.container1{
    position: absolute;
    right: 20%;

}

.container-box a{
    color: #333;

}
.container1-box a{
    color: #333;
    
}

.container1-box a:hover,.container1-box a:active,a:link{
    color: #ac9374;
}

.container1-box {
    margin: 20px;
    position: relative;
}
span{
    position: absolute;
    right: 0;
}
